<mat-list role="list">
    <mat-list-item role="listitem">
        <button mat-button routerLink="/entidad">Entidad de salud</button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button mat-button routerLink="/personal">Personal médico</button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button mat-button routerLink="/paciente">Paciente</button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button mat-button routerLink="/historia_clinica">Historia clínica</button>
    </mat-list-item>
</mat-list>